@import 'tailwindcss';
@import 'tw-animate-css';

@import 'uploadthing/tw/v4';
@source "../node_modules/@uploadthing/react/dist"; /** <-- depends on your project structure */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Nunito, sans-serif;
  --font-mono: Space Mono, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: PT Serif, serif;
  --radius: 0.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: 0 2px 0 0 var(--border);
  --shadow-xl: 0 2px 0 0 var(--border);
  --shadow-lg: 0 2px 0 0 var(--border);
  --shadow-md: 0 2px 0 0 var(--border);
  --shadow: var(--shadow);
  --shadow-sm: 0 2px 0 0 var(--border);
  --shadow-xs: 0 2px 0 0 var(--border);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --font-weight-light: 700;
  --font-weight-normal: 700;
  --font-weight-medium: 700;
  --font-weight-semibold: 700;
  --shadow-3xl: 0 2px 0 0 var(--border);
  --color-destructive-border: var(--destructive-border);
  --color-primary-border: var(--primary-border);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.91 0.048 83.6);
  --foreground: oklch(0.41 0.077 78.9);
  --card: oklch(0.92 0.042 83.6);
  --card-foreground: oklch(0.41 0.077 74.3);
  --popover: oklch(0.92 0.042 83.6);
  --popover-foreground: oklch(0.41 0.077 74.3);
  --primary: oklch(0.71 0.097 111.7);
  --primary-foreground: oklch(0.98 0.005 0);
  --secondary: oklch(0.88 0.055 83.6);
  --secondary-foreground: oklch(0.51 0.077 78.9);
  --muted: oklch(0.86 0.064 83.7);
  --muted-foreground: oklch(0.51 0.077 74.3);
  --accent: oklch(0.86 0.055 83.6);
  --accent-foreground: oklch(0.26 0.016 0);
  --destructive: oklch(0.63 0.24 29.2);
  --border: oklch(0.74 0.063 80.8);
  --input: oklch(0.74 0.063 80.8);
  --ring: oklch(0.51 0.077 74.3);
  --chart-1: oklch(0.66 0.19 41.6);
  --chart-2: oklch(0.68 0.16 184.9);
  --chart-3: oklch(0.48 0.09 210.9);
  --chart-4: oklch(0.85 0.19 85.4);
  --chart-5: oklch(0.74 0.19 66.3);
  --sidebar: oklch(0.87 0.059 83.7);
  --sidebar-foreground: oklch(0.41 0.077 78.9);
  --sidebar-primary: oklch(0.26 0.016 0);
  --sidebar-primary-foreground: oklch(0.98 0.005 0);
  --sidebar-accent: oklch(0.83 0.058 83.6);
  --sidebar-accent-foreground: oklch(0.26 0.016 0);
  --sidebar-border: oklch(0.91 0.005 0);
  --sidebar-ring: oklch(0.71 0.005 0);
  --destructive-foreground: oklch(0.97 0.018 0);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: Space Mono, monospace;
  --shadow-color: hsl(196 83% 10%);
  --shadow-opacity: 0.15;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-sm:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow-md:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 2px 4px -1px hsl(196 83% 10% / 0.15);
  --shadow-lg:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 4px 6px -1px hsl(196 83% 10% / 0.15);
  --shadow-xl:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 8px 10px -1px hsl(196 83% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
  --tracking-normal: 0em;
  --primary-border: oklch(0.59 0.096 111.8);
  --destructive-border: oklch(0.43 0.24 29.2);
}

.dark {
  --background: oklch(0.27 0.05 219.82);
  --foreground: oklch(0.7 0.02 196.79);
  --card: oklch(0.31 0.05 219.65);
  --card-foreground: oklch(0.7 0.02 196.79);
  --popover: oklch(0.31 0.05 219.65);
  --popover-foreground: oklch(0.7 0.02 196.79);
  --primary: oklch(0.59 0.2 355.89);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.64 0.1 187.38);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.52 0.03 219.14);
  --muted-foreground: oklch(0.7 0.02 196.79);
  --accent: oklch(0.58 0.17 39.5);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.59 0.21 27.12);
  --border: oklch(0.52 0.03 219.14);
  --input: oklch(0.52 0.03 219.14);
  --ring: oklch(0.59 0.2 355.89);
  --chart-1: oklch(0.61 0.14 244.93);
  --chart-2: oklch(0.64 0.1 187.38);
  --chart-3: oklch(0.59 0.2 355.89);
  --chart-4: oklch(0.58 0.17 39.5);
  --chart-5: oklch(0.59 0.21 27.12);
  --sidebar: oklch(0.27 0.05 219.82);
  --sidebar-foreground: oklch(0.7 0.02 196.79);
  --sidebar-primary: oklch(0.59 0.2 355.89);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.64 0.1 187.38);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.52 0.03 219.14);
  --sidebar-ring: oklch(0.59 0.2 355.89);
  --destructive-foreground: oklch(1 0 0);
  --radius: 0.25rem;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: Space Mono, monospace;
  --shadow-color: hsl(196 83% 10%);
  --shadow-opacity: 0.15;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-sm:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow-md:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 2px 4px -1px hsl(196 83% 10% / 0.15);
  --shadow-lg:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 4px 6px -1px hsl(196 83% 10% / 0.15);
  --shadow-xl:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 8px 10px -1px hsl(196 83% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    font-weight: var(--font-weight-bold);
  }
  .border {
    border-width: 2px !important;
  }
  .border-l {
    border-left-width: 2px !important;
  }
  .border-r {
    border-right-width: 2px !important;
  }
  .border-t {
    border-top-width: 2px !important;
  }
  .border-b {
    border-bottom-width: 2px !important;
  }
  .shadow-primary {
    box-shadow: 0 2px 0 0 var(--primary-border);
  }
  .shadow-destructive {
    box-shadow: 0 2px 0 0 var(--destructive);
  }
  .shadow-destructive-border {
    box-shadow: 0 2px 0 0 var(--destructive-border);
  }
  .texture {
    background-image: url(https://matsu-theme.vercel.app/texture.jpg);
    background-size: 100% 100%;
    background-repeat: repeat;
    opacity: 0.12;
    mix-blend-mode: multiply;
    z-index: 100;
    isolation: isolate;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100dvh;
    pointer-events: none;
  }
}

@layer utilities {
  html,
  body,
  :root {
    height: 100%;
  }
}

body {
  font-family: 'Roboto Variable', sans-serif;
}

/* @utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
 */
